# .clangd 配置文件（放在项目根目录）
CompileFlags:
  Add:
    - "--target=x86_64-w64-windows-gnu"
    - "-std=c++14"
    - "-ferror-limit=0"
    - "-IM:/Users/y00896849/mingw64/include"
    - "-IM:/Users/y00896849/mingw64/lib/gcc/x86_64-w64-mingw32/13.2.0/include"
    - "-IM:/Users/y00896849/mingw64/x86_64-w64-mingw32/include"
    - "-IM:/Users/y00896849/mingw64/lib/gcc/x86_64-w64-mingw32/13.2.0/include/c++"
    - "-I../hcomm/include"
    - "-I../hcomm/include/hccl"
    - "-I../hcomm/pkg_inc"
    - "-I../hcomm/pkg_inc/hccl"
    - "-I./src/common"
    - "-I./src/ops/op_common"
    - "-I./src/ops/op_common/executor"
    - "-I./src/ops/op_common/executor/channel"
    - "-I./src/ops/op_common/executor/registry"
    - "-I./src/ops/op_common/inc"
    - "-I./src/ops/op_common/selector"
    - "-I./src/ops/op_common/template"
    - "-I./src/ops/op_common/template/aicpu"
    - "-I./src/ops/op_common/template/aiv"
    - "-I./src/ops/op_common/template/ccu"
    - "-I./src/ops/op_common/template/dpu"
    - "-I./src/ops/op_common/template/registry"
    - "-I./src/ops/op_common/template/wrapper"
    - "-I./src/ops/op_common/topo"
    - "-I./include"
  Remove:
    - "-m64"
    - "-march=*"
