registry=http://mirrors.tools.huawei.com/npm/
@cloud:registry=https://repo.cloudartifact.lfg.dragon.tools.huawei.com/artifactory/api/npm/cbu-npm-public/
@avenueui:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@originjs:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@devuicli:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@cloudscope:registry=https://repo.cloudartifact.lfg.dragon.tools.huawei.com/artifactory/api/npm/cbu-npm-public/
@starling:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@aurora-devkit:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@aurora-one:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@turboui:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@linkjs:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@jack:registry=https://repo.cloudartifact.lfg.dragon.tools.huawei.com/artifactory/api/npm/cbu-npm-public/
@huawei:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/npm-cbcbigate/
@aurora:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@panshi:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
chromedriver_cdnurl=https://mirrors.tools.huawei.com/chromedriver/
phantomjs_cdnurl=https://mirrors.tools.huawei.com/phantomjs/
sass_binary_site=https://mirrors.tools.huawei.com/sass_binary_site/
puppeteer_chromium_revision=637110
puppeteer_download_host=https://mirrors.tools.huawei.com/puppeteer/
PUPPETEER_DOWNLOAD_BASE_URL=https://mirrors.tools.huawei.com/puppeteer/
cypress_install_binary=https://mirrors.tools.huawei.com/cypress/12.8.1/win32-x64/cypress.zip
no-proxy=huawei.com
always-auth=true
strict-ssl=false
NODEJS_ORG_MIRROR=https://mirrors.tools.huawei.com/nodejs/
NVM_NODEJS_ORG_MIRROR=https://mirrors.tools.huawei.com/nodejs/
NVM_IOJS_ORG_MIRROR=https://mirrors.tools.huawei.com/iojs
PHANTOMJS_CDNURL=https://mirrors.tools.huawei.com/phantomjs
CHROMEDRIVER_CDNURL=https://mirrors.tools.huawei.com/chromedriver
OPERADRIVER_CDNURL=https://mirrors.tools.huawei.com/operadriver
ELECTRON_MIRROR=https://mirrors.tools.huawei.com/electron
SASS_BINARY_SITE=https://mirrors.tools.huawei.com/node-sass/
PYTHON_MIRROR=https://mirrors.tools.huawei.com/python
@tiny2:registry=https://repo.cloudartifact.lfg.dragon.tools.huawei.com/artifactory/api/npm/npm-cbu-common/
@cube:registry=https://repo.cloudartifact.lfg.dragon.tools.huawei.com/artifactory/api/npm/cbu-npm-public/
xprofiler_binary_host_mirror=https://mirrors.tools.huawei.com/xprofiler/
